{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Products{% endblock title %}
{% block style %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<script>
    $(document).ready(function () {
        $('.wishlist-toggle').click(function () {
            var productId = $(this).data('product-id');

            $.ajax({
                url: '/wishlist/toggle/' + productId + '/',
                type: 'POST',
                dataType: 'json',
                headers: { 'X-CSRFToken': getCookie('csrftoken') }, // Include CSRF token
                success: function (data) {
                    var wishlistToggle = $('.wishlist-toggle[data-product-id="' + productId + '"]');
					var heartIcon = wishlistToggle.find('#wishlist-icon');
                    if (data.is_added) {
                        // wishlistToggle.css('color', 'red');
						heartIcon.addClass('in_wishlist')
						console.log(heartIcon);
                    } else {
                        // wishlistToggle.css('color', 'blue');
						heartIcon.removeClass('in_wishlist')

                    }
                }
            });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
<style>
	.icon{
		color: blue;
	}
	.in_wishlist{
		color: red;
	}
</style>
{% endblock style %}
{% block content %}
{% load crispy_forms_tags %}
                <div class="page-titles" >
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<h1>
								{% if 'extra_products' in request.GET %}
									Boshqalar
								{% elif 'billur_products' in request.GET %}
    								Billur Tovarlar
								{% else %}
    								<p> </p>
								{% endif %}
							</h4>
							{% if user.is_staff %}
							<div class="d-none d-lg-block d-sm-block d-md-block">
								<button type="button" class="btn btn-outline-secondary mt-2" name="new_product_add" data-toggle="modal" data-target="#exampleModal">Mahsulot qo'shish</button>
							</div>
							{% else %}
							<div class="d-none d-lg-block d-sm-block d-md-block">
								<button type="button"  data-target="#loginModal" data-toggle="modal" class="btn btn-outline-success">Log in</button>
							</div>
							{% endif %}
						</div>
                </div>
                <div class="row">
					{% for i in object_list %}
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="new-arrival-product">
									<a href="{% url 'products:product_detail' i.id %}">
                                    <div class="new-arrivals-img-contnent" style="width: 100%;height: 300px;">
                                        <img class="img-fluid" src="{{ i.image.url }}" alt="" style="width: 100%;height:100%;">
                                    </div>
									</a>
                                    <div class="new-arrival-content mt-4">
                                        <div>
											<div class="d-flex justify-content-between align-items-center pr-3">
												<h4 style="font-size: 22px;color: black;">
													{{ i.name }}
													<span class="text-danger">{% if i.category.name == 'Billur' %}(Billur){% else %}{% endif %}</span>
												</h4>
												<p class="px-2 py-2 wishlist-toggle"   style="cursor: pointer;" data-product-id="{{ i.id }}" name="wishlist">
													<i id="wishlist-icon" class="fas fa-heart icon {% if i in wishlist_products.products.all %}in_wishlist{% endif %}" style="font-size: 20px;"></i>
												</p>
											</div>
											<p style="font-size: 22px;color: black;">Omborda: {% if i.amount == 0 %}mavjud emas {% else %} {{ i.amount }}ta{% endif %}</p>
										</div>
                                        <div class="mt-2" 
											style="font-weight: 600;
												color: #0B2A97;
												font-size: 24px;
												">
												{{ i.price }}so'm
										</div>
										{% if user.is_superuser %}
										<div class="mt-2 d-flex align-items-center justify-content-start" data-toggle="modal" data-target="#nabor_add_{{ i.id }}" style="cursor: pointer;">
											<p>
												<svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 640 512">
													<path d="M58.9 42.1c3-6.1 9.6-9.6 16.3-8.7L320 64 564.8 33.4c6.7-.8 13.3 2.7 16.3 8.7l41.7 83.4c9 17.9-.6 39.6-19.8 45.1L439.6 217.3c-13.9 4-28.8-1.9-36.2-14.3L320 64 236.6 203c-7.4 12.4-22.3 18.3-36.2 14.3L37.1 170.6c-19.3-5.5-28.8-27.2-19.8-45.1L58.9 42.1zM321.1 128l54.9 91.4c14.9 24.8 44.6 36.6 72.5 28.6L576 211.6v167c0 22-15 41.2-36.4 46.6l-204.1 51c-10.2 2.6-20.9 2.6-31 0l-204.1-51C79 419.7 64 400.5 64 378.5v-167L191.6 248c27.8 8 57.6-3.8 72.5-28.6L318.9 128h2.2z"/>
												</svg>
											</p>
											<h4 class="ml-2 mt-1" style="font-size: 18px;">Naborga qo'shish</h4>
										</div>
										{% endif %}
										<!-- <div class="mt-4 d-flex justify-content-between align-items-center">
											<button style="cursor: pointer;" class="btn btn-outline-success counter_btn">
												<svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 576 512">
													<style>svg{fill:#045ffb}</style>
													<path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/>
												</svg>
											</button>
											<div class="input-group mx-4 int_input" style="display: none;">
												<div class="input-group-prepend">
													<button class="btn btn-outline-success minusBtn">-</button>
												</div>
												<input type="number" class="form-control quantity" value="1" style="color: black;">
												<div class="input-group-append">
													<button class="btn btn-outline-success plusBtn">+</button>
												</div>
											</div>
										</div> -->
                                    </div>
									<div class="modal fade" id="nabor_add_{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog" role="document">
										  <div class="modal-content">
										  <form method="POST">
											{% csrf_token %}
										  <div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Nabor Qo'shish</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
											</button>
										  </div>
										  <div class="modal-body">
											  <input type="text" name="product" value="{{ i.id }}" class="d-none">
											<input type="number" name="quantity" class="form-control mb-2" placeholder="soni">
											<select name="package" class="form-control">
												<option selected >Nabor tanlang</option>
												{% for nabor in naborlar %}
												<option value="{{ nabor.id }}">{{ nabor.name }}</option>
												{% endfor %}
											</select>
										  </div>
										  <div class="modal-footer">
											<button type="submit" class="btn btn-primary" name="add_to_package">Saqlash</button>
										  </div>
										</form>
										  </div>
										</div>
									  </div>
                                </div>
                            </div>
                        </div>
                    </div>
					{% endfor %}
                </div>
            </div>
			<div class='d-flex justify-content-center align-items-center'>
				<nav>
					<ul class="pagination pagination-gutter">
						{% if current_page.has_previous %}
						<li class="page-item page-indicator">
							<a class="page-link" href="?page=1">
								<i class="la la-angle-left"></i>
							</a>
						</li>
						{% endif %}
						{% for page_number in paginator.page_range %}
						<li class="page-item {% if page_number == current_page.number %} active {% endif %}">
							<a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
						</li>
						{% endfor %}
						{% if current_page.has_next %}
						<li class="page-item page-indicator">
							<a class="page-link" href="?page={{ paginator.num_pages }}">
								<i class="la la-angle-right"></i></a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
{% endblock content %}
{% block scripts %}
<!-- <script>
    $(document).ready(function () {
        $('.counter_btn').click(function () {
            // Toggle the visibility of the corresponding input group
            $(this).siblings('.int_input').toggle();
        });

        $('.plusBtn').click(function () {
            var quantity = parseInt($(this).siblings('.quantity').val());
            $(this).siblings('.quantity').val(quantity + 1);
        });

        $('.minusBtn').click(function () {
            var quantity = parseInt($(this).siblings('.quantity').val());
            if (quantity > 1) {
                $(this).siblings('.quantity').val(quantity - 1);
            }
        });
		$('.addToCartBtn').click(function () {
            var quantity = parseInt($(this).siblings('.quantity').val());

            $.ajax({
                url: 'product/add-to-cart' + productIds + '/', 
                method: 'POST',
                data: { quantity: quantity },
                success: function(response) {
                  
                    console.log('Product added to cart successfully.');
                },
                error: function(error) {
                    console.error('Error adding product to cart:', error);
                }
            });
        });
    });
</script> -->

{% endblock scripts %}
