<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trendi</title>
    <link rel="stylesheet" href="./css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-in">
                <a class="header__back" href="index.html">&#8592; Другие товары</a>
                <a class="header__back header__back-x" href="index.html"><i class="fas fa-x"></i></a>
            </div>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="hero-in">
                    <div class="hero__left">
                        <div class="hero__left--top hero__slide--container">
                            <div class="hero__buttons prev">
                                <i class="fas fa-chevron-left" onclick="plusSlides(-1)"></i>
                            </div>
                            <div class="hero__slide fade">
                                <img class="hero__image" src="./images/product-image-1.jpg" alt="Hero image">
                            </div>  
                            <div class="hero__slide fade">
                                <img class="hero__image" src="./images/download.jpg" alt="Hero image">
                            </div>  
                            <div class="hero__slide fade">
                                <img class="hero__image" src="./images/product-image-1.jpg" alt="Hero image">
                            </div>  
                            <div class="hero__slide fade">
                                <img class="hero__image" src="./images/product-image-1.jpg" alt="Hero image">
                            </div>  
                            <div class="hero__slide fade">
                                <img class="hero__image" src="./images/product-image-1.jpg" alt="Hero image">
                            </div>  
                            <div class="hero__slide fade">
                                <img class="hero__image" src="./images/product-image-1.jpg" alt="Hero image">
                            </div>  
                            <div class="hero__buttons next">
                                <i class="fas fa-chevron-right" onclick="plusSlides(1)"></i>
                            </div>
                        </div>
                        <div class="hero__left--bottom">
                            <img class="hero__left--others dot" onclick="currentSlide(1)" src="./images/download.jpg" alt="Hero others">
                            <img class="hero__left--others dot" onclick="currentSlide(2)" src="./images/download.jpg" alt="Hero others">
                            <img class="hero__left--others dot" onclick="currentSlide(3)" src="./images/download.jpg" alt="Hero others">
                            <img class="hero__left--others dot" onclick="currentSlide(4)" src="./images/download.jpg" alt="Hero others">
                            <img class="hero__left--others dot" onclick="currentSlide(5)" src="./images/download.jpg" alt="Hero others">
                        </div>
                    </div>
                    <div class="hero__right">
                        <span class="hero__right--title">Космонавт проектор звёздного неба</span>
                        <br>
                        <br>
                        <h2>
                            <span>250 000 СУМ</span>
                            <span style="color: lightgrey; text-decoration: line-through;">620 000 СУМ</span>
                        </h2>
                        <br>
                        <button class="hero__right--button">Купить</button>
                        <br>
                        <br>
                        <p>Смотрите любимые фильмы, устройте романтический вечер и спите каждый день под звёздами и этой невероятно красивой проекцией галактики</p>
                        <br>
                        <p>Проектор Космонавт — идеальный подарок для детей и взрослых. Он создаёт невероятную атмосферу и будоражит воображение</p>
                        <br>
                        <p>Шоу космонавта состоит из 8 разных галактик и звёздного неба. Вы можете включать оба режима вместе, либо по отдельности. Поставляется с пультом управления.</p>
                        <br>
                        <li style="list-style: disc;">8 разных галактик и звездное небо</li>
                        <li style="list-style: disc;">Яркость и скорость анимации регулируются</li>
                        <br>
                        <li style="list-style: disc;">Питание от USB через разетку или любой разъём</li>
                        <li style="list-style: disc;">Размер: 23см*12cм*11cм</li>
                    </div>
                </div>
            </div>
        </section>
        <section class="also">
            <div class="container">
                <div class="also-in">
                    <span class="also__title">See also</span>
                    <div class="also__cardbox">
                        <a href="detail.html" class="also__card">
                            <img class="also__card--image" src="./images/product-image-1.jpg" alt="Product image">
                            <span class="also__price">
                                <b>1 600 000 СУМ</b>
                                <b style="color: grey; text-decoration: line-through;">2 285 000 СУМ</b>
                            </span>
                            <span class="also__description">Космонавт проектор звёздного неба</span>
                        </a>
                        <a href="detail.html" class="also__card">
                            <img class="also__card--image" src="./images/product-image-1.jpg" alt="Product image">
                            <span class="also__price">
                                <b>1 600 000 СУМ</b>
                                <b style="color: grey; text-decoration: line-through;">2 285 000 СУМ</b>
                            </span>
                            <span class="also__description">Космонавт проектор звёздного неба</span>
                        </a>
                        <a href="detail.html" class="also__card">
                            <img class="also__card--image" src="./images/product-image-1.jpg" alt="Product image">
                            <span class="also__price">
                                <b>1 600 000 СУМ</b>
                                <b style="color: grey; text-decoration: line-through;">2 285 000 СУМ</b>
                            </span>
                            <span class="also__description">Космонавт проектор звёздного неба</span>
                        </a>
                        <a href="detail.html" class="also__card">
                            <img class="also__card--image" src="./images/product-image-1.jpg" alt="Product image">
                            <span class="also__price">
                                <b>1 600 000 СУМ</b>
                                <b style="color: grey; text-decoration: line-through;">2 285 000 СУМ</b>
                            </span>
                            <span class="also__description">Космонавт проектор звёздного неба</span>
                        </a>
                        <a href="detail.html" class="also__card">
                            <img class="also__card--image" src="./images/product-image-1.jpg" alt="Product image">
                            <span class="also__price">
                                <b>1 600 000 СУМ</b>
                                <b style="color: grey; text-decoration: line-through;">2 285 000 СУМ</b>
                            </span>
                            <span class="also__description">Космонавт проектор звёздного неба</span>
                        </a>
                        <a href="detail.html" class="also__card">
                            <img class="also__card--image" src="./images/product-image-1.jpg" alt="Product image">
                            <span class="also__price">
                                <b>1 600 000 СУМ</b>
                                <b style="color: grey; text-decoration: line-through;">2 285 000 СУМ</b>
                            </span>
                            <span class="also__description">Космонавт проектор звёздного неба</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="./js/detail.js"></script>
</body>
</html>